<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Posts</title>

</head>
<body>
  <div class="container my-5">
    <div class="row align-items-start">
        <div class="col">
            {% if posts|length !=0 %}
            {% for post in posts %}
            <div class="card my-3" style="width: 18rem;">
                  {% if post.link|length !=0 %}
              <img class="card-img-top" src="{{post.link}}" alt="Card image cap">
                  {% endif %}
              <div class="card-body">
                <h5 class="card-title">From {{post.by}} @ {{post.date.strftime('%d/%m/%Y-%H:%M')}}</h5>
                <p class="card-text">{{post.desc}}</p>
              </div>
            </div>
            {% endfor %}

            {% else %}
                <div class="alert alert-dark" role="alert">
                Sorry no posts found.Please create One!
                    </div>
            {% endif %}
        </div>
        <div class="col">
            <p>Hello,{{current_user.username}}</p>
            <p>
                Wanna Post Something, <a href="{{url_for('views.create_post')}}" class="btn btn-outline-success">Create a Post</a>
            </p>
        </div>
    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>